---
Language: Cpp
Standard: c++20
BasedOnStyle: GNU
AccessModifierOffset: -4
PointerAlignment: Left
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
Cpp11BracedListStyle: true
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakAfterReturnType: All
AlignAfterOpenBracket: AlwaysBreak
SpaceInEmptyBlock: true
SpaceBeforeParens: Never
SpaceAfterTemplateKeyword: false
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: Inline
AlignOperands: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: Always
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
